:root{
    --accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

}
body{
    overflow-x: hidden;
    color:white;
    background-color: #303030;
}
.wrapper{
    position: relative;
    background:linear-gradient(180deg,rgba(0, 0, 1, 0.62) 100%, rgba(2, 2, 2, 0.9)100%),url("images/hero.jpg");
    width:100vw;
    height: 100vh;
    border-bottom: 9px solid rgb(34, 34, 34);
}
.hero{
    overflow-x: hidden;
    position: absolute;
}
.ready-to-watch-heading{
    font-size:20px!important;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    width: 100%;
} 
nav .logo{
    width: 20%;
}
nav .links{
    width:80%;
}
nav .logo img{
    width:180px;
    margin-left:50px;
}
nav .links {
    display: flex;
    top:2%;
    justify-content: flex-end;
    margin-right: 20px;
}
nav .links .english button,nav .links .signing a button{
    padding:5px 8px!important;
    font-size:17px!important;
    margin:0 5px;
}
.text{
    position: absolute;
    top:35%;
    width: 100vw;
    color:white;
    z-index: 9999;
    text-align: center;
}
.text h1{
    font-size: 50px;
    line-height: 50px;
}

.search{
    display: flex;
    justify-content: center;
}
.search input{
  width:500px;
  padding:13px;
  font-size:15px;
  border: 2px solid transparent;
}
.search button{
  width:200px;
  border:8px solid transparent;
  background-color: #e50914;
  color:white;
  font-size: 23px;
  font-family: 'Segoe UI';
}

.cards{
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
    padding:3% 0;
    flex-direction: row;
    border-bottom: 10px solid #303030;
}
.reverse img{
    width:500px;
    margin-left:15%;
}
.reverse .headings{
    margin-left:7%;
}
.reverse .headings h1,.not-reverse .headings h1{
  font-size: 55px;
}
.not-reverse .headings{
    margin-left:5%;
}
.not-reverse img{
    width:500px;
    margin-right:80px;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:white;
}
#question-main-heading{
    font-size:45px;
}
.question-container{
    background-color: black;
    padding:5%;
}

.accordion-header button{
    width: 100%!important;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid transparent;
    padding: 20px;
    background-color:#303030!important;
    color:white;
    font-size: 27px;
}
.accordion{
    margin:20px 200px;
}

.accordion-item{
    border: 2px solid #303030;
    margin:10px 0;
}
.accordion-body{
    background-color: #303030;
    border-top:2px solid #000000;
    font-size: 25px;
    font-family: 'Segoe UI';
}

@media(max-width:980px){
    .cards{
        background-color: #000000;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height:100%;
        padding:3% 0;
        flex-direction: row;
        border-bottom: 10px solid #303030;
    }
    .reverse img{
        width:350px;
        margin-left:10%;
    }
    .reverse .headings{
        margin-left:40px;
    }
    .reverse .headings h1,.not-reverse .headings h1{
      font-size:30px;
    }
    .not-reverse .headings{
        margin-left:0%;
    }
    .not-reverse img{
        width:350px;
        margin-right:40px;
    }
    #question-main-heading{
        font-size:35px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:80px;
        width: 100%;
    } 
    nav .logo{
        width: 20%;
    }
    nav .links{
        width:80%;
    }
    nav .logo img{
        width:120px;
        margin-left:20px;
    }
    nav .links {
        display: flex;
        top:2%;
        justify-content: flex-end;
    }
    nav .links .english button,nav .links .signing a button{
        padding:3px!important;
        font-size:14px!important;
        margin:0 5px;
    }
    .text{
        position: absolute;
        top:15%!important;
        width: 100vw;
        color:white;
        z-index: 9999;
        text-align: center;
    }
    .text h1{
        font-size: 40px;
        line-height: 50px;
    }
    
    .question-container{
        background-color: black;
        padding:5%;
    }
    
    .accordion-header button{
        width: 100%!important;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid transparent;
        padding: 20px;
        background-color:#303030!important;
        color:white;
        font-size: 27px;
    }
    .accordion{
        margin:20px 70px;
    }
    
    .accordion-item{
        border: 2px solid #303030;
        margin:10px 0;
    }
    .accordion-body{
        background-color: #303030;
        border-top:2px solid #000000;
        font-size: 22px;
    }
@media(max-width:730px){
    .cards{
        background-color: #000000;
        display: flex;
        align-items: center;
        height:100%;
        flex-direction: column;
        border-bottom: 10px solid #303030;
    }
    .reverse{
        flex-direction: column-reverse;
        height: 100%;
    }
    .reverse img{
        width:350px;
        margin-left:0%;
    }
    .reverse .headings{
        margin-left:0;
    }
    .reverse .headings h1,.not-reverse .headings h1{
      font-size:30px;
      text-align: center;
    }
    .reverse .headings h3,.not-reverse .headings h3{
      font-size:22px;
      text-align: center;
    }
    .not-reverse .headings{
        margin-left:0%;
    }
    .not-reverse img{
        width:350px;
        margin-right:0px;
    }
    .search{
        display: block;
    }
    .search input{
      width:400px;
      padding:10px;
      font-size:15px;
      border: 2px solid transparent;
    }
    .search button{
      width:150px;
      border:2px solid transparent;
      margin-top:20px;
      font-size: 23px;
    }
}
@media(max-width:690px){
    nav{
        height:80px;
        width: 100%;
    } 
    nav .logo{
        width: 20%;
    }
    nav .links{
        width:80%;
    }
    nav .logo img{
        width:120px;
        margin-left:5px;
    }
    nav .links {
        display: flex;
        top:2%;
        justify-content: flex-end;
    }
    nav .links .english button,nav .links .signing a button{
        padding:3px!important;
        font-size:14px!important;
        margin:0 5px;
    }
    .text{
        position: absolute;
        top:28%;
        width: 100vw;
        color:white;
        text-align: center;
    }
    .text h1{
        font-size: 35px;
        line-height: 50px;
    }
    .accordion{
        margin:20px 30px;
    }
    
    .accordion-item{
        border: 2px solid #303030;
        margin:10px 0;
    }
    .accordion-body{
        background-color: #303030;
        border-top:2px solid #000000;
        font-size: 15px;
    }
}
@media(max-width:620px){
    .ready-to-watch-heading{
        font-size:15px!important;
    }
    nav{
        height:80px;
        width: 100%;
    } 
    nav .logo{
        width: 20%;
    }
    nav .links{
        width:80%;
    }
    nav .logo img{
        width:120px;
        margin-left:5px;
    }
    nav .links {
        display: flex;
        top:2%;
        justify-content: flex-end;
    }
    nav .links .english button,nav .links .signing a button{
        padding:3px!important;
        font-size:14px!important;
        margin:0 5px;
    }
    .text{
        position: absolute;
        top:28%;
        width: 100vw;
        color:white;
        text-align: center;
        padding: 0 10px;
    }
    .text h1{
        font-size: 35px;
        line-height: 50px;
    }
    .accordion-header button{
        width: 100%!important;
        padding:5px 10px;
        background-color:#303030!important;
        font-size:15px;
        text-align: left;
    }
    .accordion{
        margin:0px;
    }
    .search{
        display: block;
    }
    .search input{
      width:70vw;
      padding:7px;
      font-size:15px;
      border: 2px solid transparent;
    }
    .search button{
      width:150px;
      border:2px solid transparent;
      margin-top:10px;
      font-size: 23px;
    }
}
@media(max-width:340px){git branch -M main
    .search button{
        display: block!important;
    }
    .search .get-started{
        display: flex;
        justify-content: center;
    }
    #question-main-heading{
        font-size:30px;
        text-align: center;
    }
    .wrapper{
        height:80vh!important;
    }
    nav{
        height:50px;
        width: 100%;
    } 
    nav .logo{
        width: 20%;
    }
    nav .links{
        width:80%;
    }
    nav .logo img{
        width:100px;
        margin-left:5px;
    }
    nav .links {
        display: flex;
        top:2%;
        justify-content: flex-end;
    }
    nav .links .english button,nav .links .signing a button{
        padding:3px!important;
        font-size:13px!important;
        /* padding: 0 5px; */
    }
    .text{
        position: absolute;
        top:20%;
        width: 100vw;
        color:white;
        text-align: center;
        padding: 0;
    }
    .text h1{
        font-size:30px;
        line-height:25px;
    }
    .search button{
       padding: 0px!important;
       font-size: 17px!important;
       border-radius:1px;
    }
    .search input{
        width:80vw!important;
        padding:3px!important;
        font-size:15px;
        border: 2px solid transparent;
      }
    .cards{
        background-color: #000000;
        display: flex;
        align-items: center;
        height:100%;
        flex-direction: column;
        border-bottom: 10px solid #303030;
    }
    .reverse{
        flex-direction: column-reverse;
        height: 100%;
    }
    .reverse img{
        width:250px;
        margin-left:0%;
    }
    .reverse .headings{
        margin-left:0;
    }
    .reverse .headings h1,.not-reverse .headings h1{
      font-size:21px;
      text-align: center;
    }
    .reverse .headings h3,.not-reverse .headings h3{
      font-size:15px;
      text-align: center;
    }
    .not-reverse .headings{
        margin-left:0%;
    }
    .not-reverse img{
        width:250px;
        margin-right:0px;
    }
    .accordion-header button{
        font-size:12px;
    }
    .question-container{
        padding: 0!important;
    }    
    .accordion-item{
        margin:10px 0;
    }
    .accordion-body{
        font-size:15px;
    }
}
@media(max-width:300px){
    .wrapper{
        height:90vh!important;
        width:100%;
    }
    nav{
        height:50px;
        width: 100%;
    } 
    nav .logo{
        width: 20%;
    }
    nav .links{
        width:80%;
    }
    nav .logo img{
        width:120px;
        margin-left:0;
    }
    nav .links {
        display: flex;
        top:2%;
        justify-content: flex-end;
        margin-right: 0;
    }
    nav .links .english button,nav .links .signing a button{
        padding:3px!important;
        font-size:14px!important;
        margin-right: 0!important;
    }
    .text{
        position: absolute;
        top:20%;
        width: 100vw;
        color:white;
        text-align: center;
    }
    .text h1{
        font-size:20px;
        line-height:20px;
    }
    .search button{
        padding: 0px!important;
        font-size: 17px!important;
        border-radius:1px;
     }
     .search input{
         width:80vw!important;
         padding:3px!important;
         font-size:15px;
         border: 2px solid transparent;
    }
    
}
}